<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inc.miki.mozart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityContact"
            android:label="@string/Contact" />
        <activity
            android:name=".ActivityAbout"
            android:label="@string/about" />
        <activity
            android:name=".menu.RightMenuActivity"
            android:label="@string/menu"/>
        <activity android:name=".menu.LeftMenuActivity"
            android:label="@string/fMenu"/>
        <activity android:name=".SubMenuActivity"
            android:label="@string/choose"/>
        <activity android:name=".menu.DrinkMenuActivity"
            android:label="@string/drink"/>
    </application>

</manifest>